* {
  font-family: "Raleway", sans-serif;
}

.bigBack {
  border: dotted 1px black;
}

.orangeBack{

    background: url(orangey.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

body {
  max-width: 100%;
  font-family: "Raleway", sans-serif;
}

.font {
  font-family: "Raleway", sans-serif;
  color: black;
}

/* From uiverse.io by @adamgiebl */

.logoPic {
  border-radius: 20px;
}

.container {
  position: relative;
  /* width: 50%; */
  /* border: solid 1px black; */
}

.image {
  opacity: 1;
  display: cover;
  width: 550px;
  height: 300px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  /* border-radius: 20px; */
  object-fit: contain;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 18px;
}

.container:hover .image {
  opacity: 0;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #cd4a04;
  color: White;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 18px;
}

.nate {
  border-radius: 18px;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.app {
  background-color: #0487cd;
}

.titlePic {
  background-position: top right 350px;
  background-image: url("./atm2.jpg");
  background-size: cover;
  /* background-position: left; */
  background-repeat: repeat-x;
  min-height: 100px;
  color: white;
}

.aboutUs {
  /* background-image: url('./back9.png'); */
  background-size: 100%;
  background-position: center;
}

.customers {
  /* background-image: url("./back3.png"); */
  background-size: 100%;
  background-position: center;
}
.form {
  /* background-image: url('./back10.png'); */
  background-size: 100%;
  background-position: center;
}

/* .inputs{
        background-color: #0487CD;
        border: solid 1px black;
        width:30%
      } */

/* body { */
/* display: flex; */
/* position: relative; */
/* justify-content: center; */
/* } */

.white-background {
  background: rgb(
    204,
    204,
    204
  ); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.7);
  border-radius: 10px;
  color: black;
  /* opacity: 0.5; */
  /* color: #cd4a04; */
  box-shadow: 10;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link_wrapper {
  position: relative;
}

.firstContact {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
}

.icon {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all 0.35s;
}

.firstContact:hover {
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

.firstContact:hover + .icon {
  border: 3px solid #2ecc71;
  right: -25%;
}

.text-box {
  margin-left: 44vw;
  margin-top: 42vh;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.formbutton:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.formbutton:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.formbutton:hover span {
  transform: translateX(5em);
}

.formbutton:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
/*  */

button {
  border-radius: 15px;
  background-color: #cd4a04;

  border: none;
  color: #fff;
  text-align: center;
  font-size: 75px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  border-radius: 15px;
}

button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
  border-radius: 15px;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}
